body {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.listContainer{
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

@media (max-width: 1140px){
    .listContainer{
        min-width: 40vw;
        margin-top: 3rem;
        align-content: center;
    }
    .addBtn{
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 670px){
    .listContainer{
        min-width: 20vw;
        align-content: center;
    }
    .addBtn{
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
    }
}