.card {
    min-width: 20%;
    border-color: #191919;
}

.card .card-body {
    background-color: #191919;
    color: white;
}

.card .card-title {
    text-align: center;
}

.card .card-text {
    background-color: #161616;
    padding: 1rem;
}

@media (max-width: 1024px) {
    .card{
        min-width: 30%;
        flex-wrap: wrap;
    }
}