.HeaderNav {
    justify-content: space-around;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: #191919;
}

nav{
    justify-content: space-around;
    padding: 30px;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: gray;
}