.HeaderNav {
    justify-content: space-around;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    width: 100vw;
    min-height: 3vh;
    background-color: #191919;
}

nav{
    justify-content: space-around;
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: gray;
}

@media (max-width: 1140px){
    .HeaderNav
}

@media (max-width: 670px){
    .HeaderNav
}

@media (max-width: 540px){
    .DndContainer{
        min-width: 25rem;
    }
}