.register-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20vh;
    position: absolute;
}

.register-wrap {
    min-width: 20rem;
    min-height: 22rem;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

h2{
    font-size: 2rem;
    color: #fdfdfd;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

button{
    margin-top: 2vh;
    border: none;
    background: rgb(107, 116, 124);
    border: 1px solid rgb(30, 30, 30);
    color: white;
    padding: 0.5rem;
}


input[type="text"],
input[type="password"],
input[type="email"]{
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
    color: white;
    padding: 5px 3px 3px 10px;
    font-size: 1rem;
    &:focus {
        border: 0px solid #3498db;
    }
}

@media (max-width: 400px){
    .register-wrap {
        min-width: 17rem;
    }
}